body {
    background-image: url(gambar/bg.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: auto;
}

h1 {
    text-align: center;
    font-family: serif;
    font-family: 'Courier New', Courier, monospace;
}

p {
   font-family: serif;
   width: 750px;
   padding: 50px;
   margin: auto;
}
